.homepage_main {
        position: absolute;
        width: 100%;
        height: 100%;
        padding-left: 160gpx;
        padding-right: 160px;
        display: grid;
        gap: 2em;
}

.homepage_title {
        padding-left: 200px;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
}

.homepage_description {
        padding-left: 3em;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
}

.homepage_content {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        margin: 1em;
        gap: 2em;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        padding-right: 25em;
}

.register {
        border-radius: 10px;
        font-size: 1em;
        height: 40px;
        width: 70px;
        background-color: #89cff0;
        border: black 2px solid;
}

.login {
        border-radius: 10px;
        font-size: 1em;
        height: 40px;
        width: 70px;
        background-color: #89cff0;
        border: black 2px solid;
}

.users {
        font-size: 20px;
        height: 100px;
        width: 150px;
        background-color: #89cff0;
        border: black 2px solid;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
}

.button {
        display: block;
        width: 100%;
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
}