<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/homepage.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Finlandica:ital@1&family=Splash&display=swap" rel="stylesheet"> </head>
<body class="background">
    <div class="homepage_main">
        <div class="homepage_title">
            <h1>Welcome to ParcForumé!</h1>
        </div>
        <div class="homepage_description">
            <h2>If you are wondering what is going on in the F1 world, <br>
                here is the place where you can stay updated.
            </h2>
        </div>

        <div class="homepage_content text-center">
            <form th:action="@{/register}" method="get">
                <div class="register">
                    <button type="submit" class="button">Register</button>
                </div>
            </form>
            <form th:action="@{/login}" method="get">
                <div class="login">
                    <button type="submit" class="button">Login</button>
                </div>
            </form>
        </div>

        <div class="users">
            <h3 class="text-center">List of Users</h3>
            <table>
                <tr class="table_header">
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
                <tr th:each="user: ${userList}">
                    <td class="text-center" th:text="${user.firstName}"></td>
                    <td class="text-center" th:text="${user.lastName}"></td>
                    <td class="text-center" th:text="${user.username}"></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>